<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="zh-CN">
<head>
        <title>登陆页面</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
		<link rel="stylesheet" th:href="@{/assets/css/form-elements.css}"/>
        <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
        
        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/assets/ico/apple-touch-icon-144-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/assets/ico/apple-touch-icon-114-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/assets/ico/apple-touch-icon-72-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" th:href="@{/assets/ico/apple-touch-icon-57-precomposed.png}"/>

    </head>

    <body>
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text">
                            <h1><strong>欢迎访问我们的网站</strong> </h1>
                            <div class="description">
                            	<p>
	                            	这是一个基于spring-boot的登录的实例，可以直接配置出你实际使用的网站地址，这是一个不需要开发代码可以直接使用的登录页面，你也可以自定义自己的登录逻辑，具体请参照文档进行配置
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>登录表单</h3>
                        			<p th:if="${param.error}">
									    无效的账号和密码
									</p>
									<p th:if="${param.logout}">
									    你已注销
									</p>
									<p th:if="${#strings.isEmpty(param.error)} and ${#strings.isEmpty(param.logout)}">
									请输入用户名和密码登录：
									</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" th:action="@{/login}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="username" placeholder="用户名..." class="form-username form-control" id="form-username"/>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="password">Password</label>
			                        	<input type="password" name="password" placeholder="密码..." class="form-password form-control" id="form-password"/>
			                        </div>
			                        <div class="form-group">
			                        	<button type="submit" class="btn">登 录</button>
			                        </div>
			                        
		                        	<div class="row checkbox" >
		                        		<div class="col-sm-6 " >
			                        		<label style="line-height: 20px;">
										    	<input type="checkbox" name='remember-me' id='rememberMe' /> 两周内自动登录？
										  	</label>
									  	</div>
									  	<div class="text-right col-sm-6">没有账号，请点此<a th:href="@{/register}">注册</a></div>
		                        	</div>
									
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 social-login">
                        	<h3>...or login with:</h3>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                        		<i class="fa fa-facebook"></i> Facebook
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
        <script th:src="@{/webjars/jquery-backstretch/jquery.backstretch.min.js}"></script>
        <!-- <script th:src="@{/assets/js/scripts.js}"></script> -->
        <script th:inline="javascript">
	        jQuery(document).ready(function() {
	            /*
	                Fullscreen background
	            */
	            $.backstretch([[@{/assets/img/backgrounds/1.jpg}]]);
	            
	            /*
	                Form validation
	            */
	            $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {
	            	$(this).removeClass('input-error');
	            });
	            
	            $('.login-form').on('submit', function(e) {
	            	
	            	$(this).find('input[type="text"], input[type="password"], textarea').each(function(){
	            		if( $(this).val() == "" ) {
	            			e.preventDefault();
	            			$(this).addClass('input-error');
	            		}
	            		else {
	            			$(this).removeClass('input-error');
	            		}
	            	});
	            	
	            });
	            
	        });
        </script>
        
        
    </body>
</html>