<head th:fragment="common-include">

	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/toastr/build/toastr.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/layer/skin/default/layer.css}" />
 	<!-- Javascript -->
 	
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    
    <script th:src="@{/webjars/toastr/build/toastr.min.js}"></script>
    
    <script th:src="@{/webjars/layer/3.0.3/layer.js}"></script>
    
    <!-- 自定义内容，需要放到最后面 -->
    <script th:src="@{/assets/js/utils.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <th:block th:with="USERAGENT=${#httpServletRequest.getHeader('user-agent')},ISIE=${USERAGENT.indexOf('MSIE')},VERSION=${USERAGENT.substring(ISIE+4)}">
       	<th:block th:if="${ISIE gt -1} and ${#arrays.contains(#arrays.toArray('6,7,8'.split(',')),USERAGENT.substring(ISIE+4,ISIE+4+USERAGENT.substring(ISIE+4).indexOf('.')).trim())}">
       		<script th:src="@{/webjars/html5shiv/3.7.3/html5shiv.js}"></script>
       		<script th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"></script>
       	</th:block>
    </th:block>
     <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</head>
<header th:fragment="header">
	<style type="text/css">
		body { padding-top: 50px; }
		@media (min-width: 768px) and (max-width: 992px) {
			body { padding-top: 100px; }
		}
	</style>
    <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">菜单切换</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img alt="Brand" th:src="@{/logo.png}" width="20px" height="20px"/></a>
	      <a class="navbar-brand" href="#">Bana导航栏</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a th:href="@{/user/manager}">用户管理</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search"/>
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	          <th:block th:text="${#authentication.name}"/> <span class="caret"></span>
	          </a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href='javascript:toLogout();'>注销</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	    <form th:action="@{/logout}" method="post" name="logoutForm" class="hidden">
        </form>
	  </div><!-- /.container-fluid -->
	</nav>
	<script type="text/javascript">
      	function toLogout(){
      		$("form[name=logoutForm]").submit();
      	}
      </script>
</header>