<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
  	<head>
  		 <!-- 装饰器内容head -->
	  	 <meta content="text/html;charset=UTF-8"/>
	  	 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	     <meta name="viewport" content="width=device-width, initial-scale=1"/>
	     <th:block th:include="bana-security/header :: common-include"></th:block>
	     <title>
		    <sitemesh:write property='title'/>
		 </title>
	     <sitemesh:write property='head' />
	</head>
	<body>
		<!-- 装饰器内容body -->
		<sitemesh:write property='body' />
	</body>
</html>
